VITE_AUCTION_CONTRACT_ID=
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_NATIVE_TOKEN_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC

VITE_MAINNET_AUCTION_CONTRACT_ID=
VITE_STELLAR_MAINNET_RPC_URL=https://mainnet.sorobanrpc.com
VITE_STELLAR_MAINNET_HORIZON_URL=https://horizon.stellar.org
VITE_MAINNET_NATIVE_TOKEN_CONTRACT_ID=
